@import '../pages/dashboard.css';

.frm_cadastrar{
    display: grid;
    grid: auto / calc(50% - 30px) calc(50% - 30px);
    grid-column-gap: 60px;
    justify-content: space-between;
}

.header-table h2 span{
    color: var(--cor-gray);
    font-weight: normal;
    font-size: 0.75em;
}

.btns-zone{
    display: grid;
    max-width: 300px;
    grid: auto / calc(50% - 10px) calc(50% - 10px);
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    position: relative;
    left: calc(100% - 300px);
}