@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
@import '../../fontawesome/css/all.min.css';
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}  
body{
    margin: 0;
    min-height: 100vh;
    display: grid;
}
:root{
    --cor-principal: #733DBF;
    --cor-complementar: #9762E2;
    --cor-white: white;
    --cor-gray: #9A9A9A;
    --cor-font: #646464;
    --cor-light-gray: #888888;

}

.btn{
    width: 100%;
    border: 1px solid transparent;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

.btn-primary{
    color: var(--cor-white);
    background-color: var(--cor-principal);
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.4s all;
    font-weight: bold;
    cursor: pointer;
}
.btn-primary:hover{
    border-color: var(--cor-principal);
    background-color: var(--cor-white);
    color: var(--cor-principal);
}

.btn-second{
    color: var(--cor-principal);
    background-color: var(--cor-white);
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.4s all;
    font-weight: bold;
    cursor: pointer;
}
.btn-second:hover{
    border-color: var(--cor-white);
    background-color: var(--cor-principal);
    color: var(--cor-white);
}

.input{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 15px 0;
}
.input-primary label{
    font-size: 0.9em;
    position: relative;
    transition: 0.4s all;
    top:22px;
    font-weight: bold;
    cursor: text;
    z-index: 2;
    color: var(--cor-gray);
}
.input-primary input{
    transition: 0.4s all;
    padding: 5px  0;
    border: none;
    border-bottom: 1px solid var(--cor-gray);
    outline: none;
}
.input-primary:focus {
    border-bottom-color:var(--cor-principal);
}

.focusInput label{
    top: 0!important;
    color: var(--cor-principal);
}
.focusInput input{
    border-bottom-color:var(--cor-principal);
}

.lnk{
    color: var(--cor-principal);
    font-size: 0.85em;
    cursor: pointer;
    transition: 0.4s all;
    text-decoration: none;
    
}
.lnk:hover{
    color: var(--cor-complementar);
}